/* Estilos para el bloque de clima */
#block-clima-bloque-clima{
	padding:10px;
	background: rgb(177,228,242); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(177,228,242,1) 1%, rgba(28,163,202,1) 97%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(177,228,242,1)), color-stop(97%,rgba(28,163,202,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(177,228,242,1) 1%,rgba(28,163,202,1) 97%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(177,228,242,1) 1%,rgba(28,163,202,1) 97%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(177,228,242,1) 1%,rgba(28,163,202,1) 97%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(177,228,242,1) 1%,rgba(28,163,202,1) 97%); /* W3C */


	}
#block-clima-bloque-clima hr{
	display:none;
}
	
#weatherImage{
	float:left;
	display:inline-table;
	vertical-align:middle;
}
.wDataMin,
.wDataMax{
	color:#FFF;
	float:left;
	display:inline-table;
}
.wAreaName{
	color:#FFF;
    line-height: 19px;
 }
.wDataMax,
.wDataMin{
	 font-size: 41px;
    line-height: 19px;
	display:block;
}	
.wLegend{
	font-size: 18px;
}
/*Wide*/
@media (min-width: 1200px) {
.wDataMax, .wDataMin{
	float: left;
	line-height: 20px;
	font-size:33px;
	padding-top: 20px;
}
.wAreaName{
	float: left;
	padding-top: 13px;
}
.aAreaName{
	float: left;
	font-size: 10px;
}
}
