/*-----------------------------------------------------------------------------------

	Theme Name: DRUDGD7- MiUDG
	Theme URI: http://miudg.udg.mx
	Description: Rocking your WordPress world!
	Author: Gustavo Ogas, Felipe Neville
	Version: 1.0

/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/
.container-12 .grid-3{
	float: right;
	clear: right;
	width: 220px !important;
}
.container-12 .grid-6.region-content{
	width: 460px !important;
}
.container-12 .grid-9{
	width: 460px !important;
}
#region-footer-first{
	width:720px;}
/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body {
    background: url("../images/bg_body_narrow.jpg") no-repeat scroll center 50px transparent;
    line-height: 1.6;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Header Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	3.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/
#block-superfish-1 li{
	width: 144px;
}
/*-----------------------------------------------------------------------------------*/
/*	4.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	5.	Forms
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	6.	Footer Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	7.	Pages, nodes & drupal elements
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	8.	Vistas
/*-----------------------------------------------------------------------------------*/

/*noticia*/
#block-views-noticia-block-1 .views-field-field-imagen-noticia-1{
	float: none;
}

/*noticia*/
/*slideshow*/
#block-views-slideshow-block-1{
	display: block;
}
#block-views-slideshow-block-1 ul.flex-direction-nav{
	display: none;
}

#block-views-slideshow-block-1 .flex-control-thumbs{
	position: absolute;
	top:0;
	/*background: url("../images/trans.png") repeat scroll 0 0 transparent;*/
	height: 50px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.41) 0%, rgba(0,0,0,0.41) 1%, rgba(0,0,0,0.17) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.41)), color-stop(1%,rgba(0,0,0,0.41)), color-stop(100%,rgba(0,0,0,0.17))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.41) 1%,rgba(0,0,0,0.17) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.41) 1%,rgba(0,0,0,0.17) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.41) 1%,rgba(0,0,0,0.17) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(0,0,0,0.41) 0%,rgba(0,0,0,0.41) 1%,rgba(0,0,0,0.17) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69000000', endColorstr='#2b000000',GradientType=0 ); /* IE6-9 */


-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        
        box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

}
#block-views-slideshow-block-1 .flex-control-thumbs img{
	height: 40px;

}
/*noticias*/
#block-views-noticia-block-3 .flex-control-thumbs li{
	margin: .5em;
}
/*galeria de imagenes*/
.view-id-galer_a_de_imagenes.view-display-id-page img{
	float: left;
	margin-right: 5px;
}
.view-id-galer_a_de_imagenes.view-display-id-page .views-field-nothing{
	clear: both;
}
#block-views-galer-a-de-imagenes-block-1 ul li{
	margin: 0;
}
#block-views-galer-a-de-imagenes-block-2 img{
	float: left;
	margin-right: 5px;
}
#block-views-galer-a-de-imagenes-block-2 .views-field-nothing{
	clear: both;
}
/*galeria de videos*/
.view-galeria-de-videos.view-display-id-page img{
	float: left;
	margin-right: 5px;
}
.view-galeria-de-videos.view-display-id-page .views-field-nothing{
	clear: both;
}

#block-views-galeria-de-videos-block-2 img{
	float: left;
	margin-right: 5px;
}
#block-views-galeria-de-videos-block-2 .views-field-nothing{
	clear: both;
}
#block-views-galeria-de-videos-block-2 ul li{
	text-align: left;
}
/*galeria de audio*/

/*footer*/

/*menu en bloque*/
#block-menu-block-1{
	display: block;
}

/*-----------------------------------------------------------------------------------*/
/*	9.	Bloques
/*-----------------------------------------------------------------------------------*/
	 
/*Slideshow*/
#block-views-banners-block-2 img{
	width: 100px;
	height: auto;
}
/*Banner inferior*/
#block-views-banners-block-1 img{
	/*width: 175px;
	height: auto;*/
}