#zone-branding {
    #background: #BFAB86;
    background-image:  url("/sites/default/files/egresados_bco.png"), url("/sites/default/files/background.png");
    background-repeat: no-repeat, repeat;
    background-size: 15%, auto;
    #background-image:  url("/sites/default/files/egresados_bco.png");
    #background-repeat: no-repeat;
    background-position: 97% center;
}
#block-views-noticia-block-1
{
    padding-top: 10px !important;
}
#block-social-media-links-social-media-links
{
    padding-top: 10px !important;
}
#block-views-banners-block ul li {
    display: block !important;
    /* margin: 1px; */
}

.view-slideshow{
    margin-top: 10px;
}
