/*-----------------------------------------------------------------------------------

	Theme Name: DRUDGD7- MiUDG
	Theme URI: http://miudg.udg.mx
	Description: Rocking your WordPress world!
	Author: Gustavo Ogas, Felipe Neville
	Version: 1.0

/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/

.block .content{
	}
	

/*bloque en el preface-secondr*/

#region-sidebar-second  .block-without-title .content{
	background: transparent !important;
    box-shadow: none !important;
    padding:0 !important;
   }

#region-sidebar-second .block .content{
	background:#F2f2f2;
	-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .30);
	box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .30);
	padding:6px 10px 10px 10px;
}

h2 {
	font-size: 18px !important;
	margin-bottom:5px !important;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Header Styles
/*-----------------------------------------------------------------------------------*/
/* longo */
.logo-udg{
	text-align:left;
}

.logo-udg img{
	width:350px !important;
	height:auto !important;
}

/*menu de accesos directos */
#udg_menu_principal{
	display: block;
}
#region-user-first{
	}
/*menu navigation */

#block-superfish-1 li.last {
    border-right:none!important;
}
#search-block-form{
   text-align: right;
}
/*-----------------------------------------------------------------------------------*/
/*	3.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/

#block-superfish-1 li,
#block-superfish-1 li.last {
    border-right: medium none !important;
}

#block-superfish-1 a, #block-superfish-1 {
    color: #686767;
}

#block-superfish-1 {
	
	background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 23%, #f5f5f5 57%, #cfcfcf 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#ffffff), color-stop(57%,#f5f5f5), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%); /* W3C */


border-top:1px solid #CCCCCC;
	border-bottom:solid thin #A6A6A6;
}
#block-superfish-1 li.menuparent:hover, #block-superfish-1 li.over, /*Repetici?n para encabezado del tema Garland. */ #block-superfish-1 li.menuparent:hover, #block-superfish-1 li.over {/* Imagen en over de un ?tem principal cuando tiene hijos */
	background:transparent url("../images/lin_navpar_ov.gif") no-repeat top left;
	background-color:#000;
	
}
#block-superfish-1 li:hover{
	/*background:transparent url("../images/lin_nav_ov.gif") no-repeat top left;*//*Imagen de over por defecto para los ?tems cuando no tienen hijos*/
	background: #b6b6b6; /* Old browsers */

background: -moz-linear-gradient(top,  #b6b6b6 0%, #f7f7f7 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6b6b6), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #b6b6b6 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #b6b6b6 0%,#f7f7f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #b6b6b6 0%,#f7f7f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #b6b6b6 0%,#f7f7f7 100%); /* W3C */




}

/*-----------------------------------------------------------------------------------*/
/*	4.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	5.	Forms
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	6.	Footer Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	7.	Pages, nodes & drupal elements
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	8.	Vistas
/*-----------------------------------------------------------------------------------*/
/*noticia*/
#block-views-noticia-block-1 .views-row{
	border-bottom:none;}
/*agenda*/
/*eventos*/
#block-views-calendar-block-1 {
	background:#F2f2f2 !important;
	-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .30) !important;
	box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .30) !important;
	padding:6px 10px 10px 10px !important;
}

#block-views-calendar-block-1 .date-heading h3 a{
	font-size:18px;}
	
#block-views-calendar-block-1.view-header{
	background:#DDD;}
#block-views-calendar-block-2 .view-header{
	display: block;
}
#block-views-calendar-block-2 .view-header ul li{
	display: inline-table;
	width: 32%;
}
#block-views-calendar-block-2 .item-list .views-field{
	display: inline-table;
	width: 32%;
}
.node-evento-de-agenda .field{
	display: inline-table;
	width: 32%;
}
.node-evento-de-agenda .field-name-field-descripcion-evento{
	width: 100%;
}



	/*footer*/
#block-block-2{
	width: 49%;
	float: left;
}
#region-footer-second  .region-footer-second-inner{
	background:url("../images/escudo_footer.png") no-repeat;
}
#block-menu-menu-men-, #block-system-main-menu{
	float: right; 
	position: relative;
    top: -27px;
}
#block-block-3{
	clear: both;
}
/*banner*/
#block-views-banners-block ul li img{
	width: 100%;
	height: auto;	
}
#block-views-banners-block ul li{
	/*margin: 10px 0;*/
}

#block-block-1,
#block-views-banners-block-1{
	margin-bottom:0;}


/*-----------------------------------------------------------------------------------*/
/*	9.	Bloques
/*-----------------------------------------------------------------------------------*/
/*bloques*/
h2.block-title {
    font-size: 18px;
    margin: 0 0 5px 0;
}

/*leer mas*/
.more-link{
	border-top:thin dotted #dedede;
	padding:4px 0;}
	
.more-link a {
    background: url("../images/link_arrow.png") no-repeat scroll right 8px transparent;
    display: block;
    float: right;
    padding: 3px 20px 0 5px;
}

/*fechas*/
.views-field-created,
.date-display-single {
    color: #999;
    font-size: 11px;
}
.titulo-noticia-principal h5,
.titulo-noticia-secundaria h5{
	font-weight:normal;}

.titulo-noticia-principal h5{
	font-size:16px;}
	
/*lkstas de bloques*/
.block .views-row{
	border-bottom: thin dotted /*#E5E5E5*/#DDD;
    padding: 10px 0;
    margin: 0;
	}

/*noticias*/
#block-views-noticia-block-2 ul li {
    border-bottom: 1px dotted /*#E5E5E5*/#DDD;
    clear: both;
    padding: 5px 0;
}
	 
#block-views-noticia-block-2{	 
	padding-top:20px;}
	
#block-views-calendar-block-2{
	margin:20px 0;}
	
#block-views-noticia-block-1 .views-field-field-imagen-noticia-1 {
    float: left;
    margin: 10px 10px 10px 0;
}

#block-views-slideshow-block-1{
	background: rgb(239,239,239); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .30);
	box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .30);
	padding:6px 10px 10px 10px;
	border:thin solid #FFF;
	}
#flexslider-1{	
	margin: 0;
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;}
	
/*banner lateral*/


	
.block-banners-block-2 .views-row,
.block-views-banners-block-1 .views-row,
.block-banners-block .views-row{
    border-bottom:none;}
	
.block-banners-block-2 .views-row{
	display:inline-block;
	margin:0;
	padding:4px;
	}
	
.block-banners-block-2  ul{
	margin:0;}
	
/*footer first*/
#region-footer-first{
	border-top: thin solid #ECECEC;
    padding-top: 10px;
	}
	
/*tablas over*/

tr:hover td, tr.even:hover,
td.active, tr.odd:hover, td.active{
	background:#EDEDED;}


/*calendario*/

.view .date-nav-wrapper .date-prev {
    background: none transparent;
    border-radius:0;
	border-right:none;	
}

.view .date-nav-wrapper .date-next {
    background: none transparent;
    border-radius:0;
	border-right:none;	}
	
/******* multimedia ******/


	
	
	
	
	
	