/*-----------------------------------------------------------------------------------

	Theme Name: DRUDGD7- MiUDG
	Theme URI: http://miudg.udg.mx
	Description: Rocking your WordPress world!
	Author: Gustavo Ogas, Felipe Neville
	Version: 1.0

/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/
.container-12 .grid-3{
	float: left;
	}
.container-12 .grid-9{
	width: 700px !important;
}	
#region-footer-first{
	width:960px;}
/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body { 
	background: url("../images/bg_body.jpg") no-repeat scroll center 50px transparent;
	}
/*-----------------------------------------------------------------------------------*/
/*	2.	Header Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	3.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/
#block-superfish-1 li{
	width: 136.1px;
}
/*-----------------------------------------------------------------------------------*/
/*	4.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	5.	Forms
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	6.	Footer Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	7.	Pages, nodes & drupal elements
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	8.	Vistas
/*-----------------------------------------------------------------------------------*/
/*noticias*/
#block-views-noticia-block-1 .views-field-field-cuerpo{
	padding-left: 130px;
}
#block-views-noticia-block-1 .views-field-field-imagen-noticia-1{
	float: left;
}
#block-views-noticia-block-1 .view-content{
	min-height: 13em;
}
/*pagina noticia*/
.view-id-noticia.view-display-id-page .views-field-title, .view-id-noticia.view-display-id-page .views-field-created, .view-id-noticia.view-display-id-page .views-field-field-cuerpo{
	padding-left: 130px;
}
/*slideshow noticia*/
#block-views-slideshow-block-1 ul.flex-direction-nav{
	display: block;
}
#block-views-slideshow-block-1 .flex-control-thumbs{
	position: static;
	height: auto;
}
#block-views-slideshow-block-1 .flex-control-thumbs img{
	height: auto;

}

#block-views-slideshow-block-1 .views-field-field-imagen-noticia{
	float: right;
	margin: 10px;
}
#block-views-slideshow-block-1 #flexslider-1 .views-field-title, #block-views-slideshow-block-1 #flexslider-1 .views-field-body{
margin-left:10px;
width: 35% !important
	
}

#block-views-slideshow-block-1 img{
	height:auto;
	width:auto;
}


/*galeria de audios*/
#block-views-galeria-de-audio-block-1{
	clear: both;
}
/*-----------------------------------------------------------------------------------*/
/*	9.	Bloques
/*-----------------------------------------------------------------------------------*/
/*noticia*/
#block-views-noticia-block-1{
	 margin-right: 20px;
    width: 47%;	
}
#block-views-noticia-block-2{
	display: inline-table;
	vertical-align: top;
	width: 47%;
}
/*Documentos*/
#block-views-tablero-block{
	width: 47%;
	margin-right: 20px;
	display: inline-table;
	vertical-align: top;
}	 

#block-views-tablero-block-1{
	display:inline-table;
	vertical-align: top;
	width: 47%;
}
/*Banner inferior*/
#block-views-banners-block-1 img{
	width: 223px;
	height:auto;
}