/*-----------------------------------------------------------------------------------

	Theme Name: DRUDGD7- MiUDG
	Theme URI: http://miudg.udg.mx
	Description: Rocking your WordPress world!
	Author: Gustavo Ogas, Felipe Neville
	Version: 1.0

/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/
.container-12 .grid-3{
	width: 280px !important;
}
.container-12 .grid-6.region-content{
	width: 580px !important;
}
.container-12 .grid-9{
	width: 880px !important;
}
#region-footer-first{
	width:1200px;}
/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body {
	background: url("../images/bg_body_wide.jpg") no-repeat scroll center 50px transparent;
    
}
/*-----------------------------------------------------------------------------------*/
/*	2.	Header Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	3.	Navigation & Menus
/*-----------------------------------------------------------------------------------*/
#block-superfish-1 li{
	width: 170.4px;
}
/*-----------------------------------------------------------------------------------*/
/*	4.	Main Content Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	5.	Forms
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	6.	Footer Styles
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	7.	Pages, nodes & drupal elements
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	8.	Vistas
/*-----------------------------------------------------------------------------------*/
/*noticias*/
#block-views-noticia-block-3 .flex-control-thumbs li{
	margin: 5px;
}
/*galeria de imagenes*/
#block-views-galer-a-de-imagenes-block-1 img{
	margin: 5.5px;
	width: 80px;
	height: auto;
}
.view-id-galer_a_de_imagenes.view-display-id-page ul li{
	float: left;
	width: 47%;
}

/*galeria de videos*/
#block-views-galeria-de-videos-block-2 img{
	
}
.view-galeria-de-videos.view-display-id-page ul li{
	float: left;
	width: 47%;
}


/*Galeria de audio*/
.view-galeria-de-audio.view-display-id-page ul li{
	float: left;
	width: 47%;
}

/*slideshow thumbnail*/
#block-views-slideshow-block-1 ul.slides{
	height:291px;
}	 

/*-----------------------------------------------------------------------------------*/
/*	9.	Bloques
/*-----------------------------------------------------------------------------------*/
/*Slideshow*/
#block-views-banners-block-2 img{
	width: 110px;
}
/*Banner inferior*/
#block-views-banners-block-1 img{
	width: 260px;
}

/* banners inferiores */

.block-views-banners-block-1 .views-row {
    margin: 0 14px;
}